<div class="profileCard">
  <div>
    <h2>Welcome, {{name}}!</h2>
      <br>
    <p> Here are our applicants! (need help with the conditionals)</p>
  </div>
</div>
<div>
{{!-- Need to figure out conditionals for applicant vs company | the below doesn't work --}}
{{!-- {{/if}} --}}
 {{}}

</div>

<script src="./js/profile.js"></script>