<div class="profileCard">
  <div>
    <h2>Welcome, {{company_name}}!</h2>
    <p> role: {{job_title}}</p>
  </div>
</div>
<div>
  <button> See applicants</button>
  <button> Post a job</button>

</div>

{{!-- Need to figure out conditionals for applicant vs company | the below doesn't work --}}
<div> 
<script src="./js/profile.js"></script>
