<h3> Post A Job </h3><p> fill out form below</p>
<br>
<hr>
<br>
<div class="authForm">
        <form class="form new-job-form">
        <div class="form-group">
          <label for="job_title"> Open Position:</label>
          <input class="form-input" type="text" id="job_title" placeholder="Front End Developer | Full Stack Engineer | etc"/>
        </div>
        <br>
        <div class="form-group">
          <label for="company_name"> Name Of Your Company:</label>
          <input class="form-input" type="text" id="company_name" placeholder="please add preferred business name" />
        </div>
        {{!-- <div class="form-group">
            <label for="role-signup"> </label>
            <br>
          <select name="roles" id="roles">
          <option value="1">First Value</option>
          <option value="2">Second Value</option>
          <option value="3">Third Value</option>
        </select>
              
        </div> --}}
        <div class="form-group">
          <button class="btn btn-primary" type="submit"> post</button>
        </div>
      </form>
</div>
<br>
<br>

  <script src="./js/profile.js"></script>