<div class="profileCard">
  <div class="container">
    <h2>Welcome, 2022 Graduates! </h2>
    <p> Thank you for taking the time to upload your resume! <br> Feel free to browse all jobs. We are working in developing a personlized profile experience. Please stay tuned for Bootcampers 2.0</p>
  </div>
  <br>
  <a href="/openPosition" class="button">   View All Jobs  </a>
</div>
<h3> Showcase Your Skills </h3>
<p> fill out form below </p>
<div class="authForm">
        <form class="form new-resume-form">
           <div class="form-group">
          <label for="name-signup">name:</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
          <div class="form-group">
          <label for="lat_name-signup">last name:</label>
          <input class="form-input" type="text" id="last_name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="resume"> Resume/Portfolio URL: </label>
          <input class="form-input" type="text" id="resume" placeholder="paste URL here"/>
        </div>
        <div class="form-group">
          <label for="dev_role"> Title:</label>
          <input class="form-input" type="text" id="dev_role" placeholder="ie: Frontend Developer"/>
        </div>
        <div class="form-group">
          <button type="submit"> post</button>
        </div>
      </form>
</div>
<br>
<br>
<div> 
<script src="./js/graduate.js"></script>
