<h1> Welcome To Our Website </h1>
<div class="container"> Thank you for visiting, we are a website that showcases bootcamp graduates.<br>  Now showcasing 2022 UT Austin Bootcamp Cohort  <span role="img" aria-label="hand">🤘🏽</span> 
</div>
<div class="homepagePerksTitle"> 
<h2> Create an company account today! </h2>
</div>
<p> check out the perks of using bootcampers </p>
<div class="homepagePerksContainer">
    <div class="perkCard">
    <h3> Companies</h3>
    <p> discover new talent </p>
      <ul>
      <li> browse all candidates </li>
      <li> post open positions </li>
      <br>
      <li>  <a class="button" href="/login"> Sign Up </a> </li>
    </ul>
  </div>
  <div class="perkCard">
    <h3> Applicants </h3>
    <p> showcase yourself </p>
    <ul>
      <li> upload resume </li>
      <li> browse potential jobs </li>
      <br>
      <li>  <a class="button" href="/graduates"> Upload Now </a> </li>
    </ul>
  </div>
    <div class="perkCard">
    <h3> Upcoming Features </h3>
    <p> ~ current version 1.0 ~</p>
      <ul>
      <li> browse all companies </li>
      <li> apply for jobs </li>
      <li> applicant user profile </li>
      <br>
      <li> </li>
    </ul>
  </div>
</div>
<img scr=""> 
