<div class="profileCard">
  <div>
    <h2>Welcome, Companies! </h2>
  </div>
</div>
<div class="authForm">
    <div class="forms">
      <h2 class="mainFormHeader">Login</h2>
  
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    </div>
    <div class="forms">
      <h2 class="mainFormHeader">Signup</h2>
  
      <form class="form signup-form">
        <div class="form-group">
          <label for="name-signup">name:</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
          <div class="form-group">
          <label for="lat_name-signup">last name:</label>
          <input class="form-input" type="text" id="last_name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
            <label for="role-signup"> company role:</label>
            <br>
                  <input type="radio" id="role-signup"
                   name="userrole" value="hiring manager">
                  <label for="userRole1"> hiring manager </label>
                
                  <input type="radio" id="role-signup"
                   name="userrole" value="team lead">
                  <label for="userRole2"> team lead </label>
                  
                  <input type="radio" id="role-signup"
                   name="userrole" value="freelance">
                  <label for="userRole3"> freelance </label>
              
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>
  
  <script src="./js/login.js"></script>
  