<div class="profileCard">
  <div>
    <h2>Welcome, {{name}}!</h2>
    <p> role: {{user_role}}</p>
    <p> contact: {{email}}</p>
      <br>
    <p> please see the menu options below (need help with the conditionals)</p>
  </div>
</div>

{{!-- Need to figure out conditionals for applicant vs company | the below doesn't work --}}
<div> 
  <p> this would be for 'applicant below' </p>
  <br>
  {{!-- {{#if user_role}} --}}
 <button>Upload resume</button>
 <button>Job posted</button>
{{!-- {{else }} --}}

{{!-- {{/if}} --}}
</div>

<script src="./js/profile.js"></script>
