  /* LAYOUT */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: beige;
    font-family: 'Source Code Pro', monospace;

  }

  h1, h2, h3 , h4, h5 , h6 {
    text-transform: uppercase;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    line-height: 1.4em;
    letter-spacing: .2em;
  }



  main {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .container {
    /* display: flex;
    flex-flow: column wrap;
    align-content: flex-start; */
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
  }

  /* navigation */

  nav {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    border-bottom: black 2px solid;
}
  
.navItem {
  text-decoration: none;
  color: black;

}

.menuItemsNav {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.menuItemsNav li {
  padding: 13px;
}

button {
  padding: 10px;
  background-color: transparent;
  border: black 2px solid;
}

/* homepage  */

.homepagePerksTitle {
  margin-top: 20px;
}
.homepagePerksContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.perkCard {
  padding: 50px;
  border: 2px solid black;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  /* height: 35vh; */
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.perkCard h3 {
  padding-bottom: 20px;
  text-decoration: purple wavy underline;
}

.perkCard p {
 font-style: italic;
 font-weight: 900;
 color: purple
}


.perkCard ul {
  list-style-type: none;
}

/* profile */

.profileCard {
  border-bottom: black solid 2px;
  padding-bottom: 20px;
  width: 70%;;
  margin: auto;
  margin-bottom: 20px;
}




/* login form  */

.authForm {
  display: flex;
  justify-content: space-evenly;
}

.forms {
  border: black 2px solid;
  padding: 20px;
  text-align: left;
}

form button {
  width: 100%;
}
button:hover {
background-color: black;
color: white;
}

/* form styling basic  */
.form-group {
 padding: 5px;
 border-bottom: 2px solid black;
}

.form-input {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: transparent;
}

.mainFormHeader {
  padding-bottom: 5px;
}

/* footer */

footer {
  text-align: center;
}
footer a {
  text-decoration: none;
  text-decoration: purple wavy underline;
  color: black;
}